<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sign-in.css">
    <title>Formulaire d'inscription </title>
</head>
<body style="margin-top: 50px;">
    <section style="height: 650px;">
            <h3>S'inscrire</h3>
            <p>Entrer vos informations personnelles</p>
            <form action="../controller/controller_utilisateur.php?action=insert" method="post">
            <table>
                <tr class="Champ_input">
                    <td>
                        <br> Nom : <br/>
                        <input type="text" name="nom" placeholder="Votre Nom"/>
                    </td>
                    
                </tr>
                <tr class="Champ_input">
                    <td>
                        <br> Prénom : <br/>
                        <input type="text" name="prenom" placeholder="Votre Prénom"/>
                    </td>
                    
                </tr>
                <tr class="Champ_input">
                    <td>
                       <br> Email : <br/>
                        <input type="email" name="login" placeholder="Votre adresse mail"/>
                    </td>
                    
                </tr>
                <tr class="Champ_input">
                     <td>
                        <br/> Mot de passe : <br/> 
                        <input type="password" name="password" placeholder="123.@AUL"/>
                     </td>
                     
                </tr>
                <tr class="ligne_button" >
                    <td>
                        <input type="submit" name="valider" id="bouton" value="S'inscrire"/> 
                        <p>Vous avez un compte ? : <a href="sign-in.html">S'authentifier </a>  </p>
                    </td>
                    
                </tr>
            </table> 
                
          </form>
          
          
    </section>
</body>
</html>