<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Informations personnelles</title>
    <style>
        .inputR {
    height: auto;
    margin-left: 50px;
}
    </style>
</head>
<body>
    <section >
            <h3>Votre Profil</h3>
            <p>Entrer vos informations personnelles</p>
            <form action="../controller/controller_profil.php?action=update" method="post">
            <table>
                <tr class="Champ_input">
                    <td>
                        <br> Telephone :
                        <input type="tel" name="Telephone" placeholder="069999999999"/>
                    </td>
                    
                </tr>
                <tr class="Champ_input">
                    <td>
                        <br> Pays : 
                        <input type="text" name="pays" placeholder="Maroc" style="margin-left:40px;"/>
                        
                    </td>
                    
                </tr>
                <tr class="Champ_input">
                    <td>
                       <br> Adresse :
                        <input type="text" name="adresse" placeholder="Votre adresse" style="margin-left:15px;"/>
                    </td>
                    
                </tr>
                <tr class="Champ_input" >
                    <td>
                        <br/>Age :  
                        <input type="number" name="age" placeholder="Votre age" style="margin-left:50px;"  />
                     </td>
                     
                </tr>
                <tr class="Champ_input" class="sexe">
                    <td >
                        <br/> <label for="sexe">Sexe :</label>   
                        <input class="inputR" type="radio" name="sexe" value="M"  style="width: 15px;" /><label for="">M</label>
                        <input class="inputR" type="radio" name="sexe" value="F" style="width: 15px;"  /><label for="">F</label>
                     </td>
                     
                </tr>

                <tr class="ligne_button" >
                    <td>
                        <input type="submit" name="valider" id="bouton" value="Sauvegader" style="margin-left:100px;" /> 
                    </td>                    
                </tr>
            </table>                
          </form>       
    </section> 
</body>
</html>